body {
  font-family: avenir next;
}
#hbs-header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  height: 104px;
  background:rgba(0,0,0,0.1);
  color:#fff;
  z-index: 10;
  h1 {
    position: absolute;
    display: block;
    top:24px;
    left:32px;
    padding:0;
    margin: 0;
    span {
      display: none;
    }
    img {
      width: auto;
      height: 64px;
    }
  }
  nav {
    position: absolute;
    top:30px;
    right: 64px;
    .menu {
      width: 120px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      .main {
        color:rgba(255,255,255,0.9);
        font-size: 1.0em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
      .sub {
        color:rgba(255,255,255,0.8);
        font-size: 0.6em;
      }
    }
  }
}


#hbs-topview-area {
  position: relative;
  background: #324148;
  vertical-align: middle;
  display: table-cell;
  width: 100vw;
  height: 100vh;
  .center-logo {
    margin-top: -10%;
    margin-bottom: 36px;
    position: relative;
    text-align: center;
    z-index: 5;
    .logo-img {
      width: 200px;
    }
  }
  .top-message {
    font-family: "Noto Sans Japanese";
    position: relative;
    text-align: center;
    color:#fff;
    font-style: normal;
    font-weight: 200;
    font-size: 2.4em;
    letter-spacing: 0.154em;
    z-index: 5;
  }
  .video-wrapper {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    overflow: hidden;
    background:url('/images/video-bg.jpg');
    background-size: cover;
    z-index: 2;
    &:before {
      content:'';
      display: block;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background:rgba(0,196,221,0.2);
      z-index: 1;
    }
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .arrow-button {
    position: absolute;
    bottom:36px;
    left: 0;
    right: 0;
    margin:0 auto;
    content:'';
    background: url('/images/arrow-button.png');
    background-size: 48px 48px;
    width:48px;
    height: 48px;
    z-index: 5;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 46px;
  &:after {
    content:'';
    display: block;
    background: #00C4DD;
    width: 64px;
    height: 2px;
    margin:12px auto;
  }
  .title-sub {
    font-weight: 400;
    font-size: 0.8em;
    color:#616161;
    margin-bottom: 24px;
  }
  h2 {
    font-weight: 300;
    padding:0;
    font-size: 2.4em;
    text-transform: uppercase;
  }
}
#concepts {
  padding:64px 0;
  text-align: center;
  background: #F2F2F2;
  .concepts-message {
    font-weight:300;
    font-size:1.0em;
    color:#333333;
    line-height: 190%;
    letter-spacing: 0.08em;
  }
}

#business {
  padding:64px 0;
  .b-panels {
    padding-bottom: 32px;
    .b-panel {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      vertical-align: middle;
      background: #377BC6;
      margin-bottom: 16px;
      .p-title {
        font-family: "Noto Sans Japanese";
        font-weight: 100;
        color:#fff;
        font-size: 2.0em;
        padding:0 8px;
      }
    }
    .sm-p {
      background: url('/images/sm-app-bg.png');
      background-size: cover;
    }
    .if-p {
      background: url('/images/sm-if-bg.png');
      background-size: cover;
    }
  }
  .b-section {
    padding:32px 0;
  }
  .b-sec-title {
    font-weight: 500;
    font-size: 1.4em;
    color:#555;
    margin-bottom:14px;
    text-align: center;
  }
  .b-sec-message {
    font-weight: 600;
    font-size: 1.0em;
    color:#333;
    text-align: center;
    margin-bottom: 46px;
  }
  .projects {
    .t-area {
      text-align: center;
      .thumb {
        width: 90%;
      }
    }
    .d-area {
      .logo {
        width: 240px;
        margin-bottom: 16px;
      }
      .sub-title {
        font-weight: bold;
        color:#444;
      }
      .description {
        line-height: 190%;
        letter-spacing: 0.04em;
      }
      h3 {
        font-size: 1px;
        color:transparent;
        padding:0;
        margin:0;
      }
      .button {
        margin-top:34px;
        display: inline-block;
        padding:8px 36px;
        border:1px solid #0C9CEE;
        color:#0C9CEE;
        font-size: 1.0em;
        border-radius: 4px;
      }
    }
  }
  .records {
    margin-top: 16px;
  }
  .r-badge {
    display: inline-block;
    font-family: "Noto Sans Japanese";
    padding: 8px 24px;
    border-radius: 4px;
    margin: 0 auto;
    padding:8px 16px;
    color:#fff;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-right: 8px;
  }
  .imagine-blue {
    background: #00ACC1;
  }
  .ma {
    background: #455A64;
  }
  .logos {
    padding: 48px 0;
    text-align: center;
    .ll {
      width: auto;
      height: 60px;
      margin:0 16px;
    }
  }
  .counter-box {
    padding-top: 24px;
    .feature-center {
      text-align: center;
      padding: 0 20px 40px 20px;
      .counter {
        font-size: 46px;
        margin-bottom: 20px;
        color: #0C9CEE;
        display: block;
        font-weight:400;
      }
      .counter-label {
        display: block;
        font-size: 1.1em;
        color:#555;
        font-weight:100;
      }
    }
  }
}

#company {
  background: #F2F2F2;
  padding:64px 0;
  .c-contents {
    margin:0 auto;
    width: 60%;
  }
}

#hbs-footer {
  background: #324148;
  padding: 32px 0;
  color:#fff;
  .company-info {
    .slogan {
      padding-left: 8px;
      font-size: 0.8em;
      color:rgba(255,255,255,0.8);
      font-weight: 500;
    }
  }
  .navigation {
    margin-top: 20px;
    a {
      display: block;
      color:#fff;
      text-decoration: none;
      height: 36px;
      padding:8px 0;
      margin:0 16px;
      text-align: center;
    }
  }
  .copyright {
    color: #ddd;
    text-align: center;
    font-size: 0.9em;
    padding:24px 0 0 0;
  }
}


@media (max-width: 768px) {
  #hbs-header {
    display: none;
  }
  #company {
    .c-contents {
      width: 100%;
    }
  }
  #hbs-topview-area {
    .top-message {
      font-family: "Noto Sans Japanese";
      position: relative;
      text-align: center;
      color: #fff;
      font-style: normal;
      font-weight: 200;
      font-size: 1.4em;
      letter-spacing: 0.154em;
      z-index: 5;
      padding:0 8px;
    }
    .video-wrapper {
      video {
        display: none;
      }
    }
  }
  #business {
    .b-panels {
      .b-panel {
        .p-title {
          font-size: 1.5em;
        }
      }
    }
    .projects {
      .d-area {
        text-align: center;
        padding-top:16px;
      }
    }
  }
  #hbs-footer {
    .navigation {
      display: none;
    }
  }
}